.callback {
    content: "";
    background-image: url("../assets/images/Background_questions.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container__callback {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.callback__header {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.callback__text {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #ffffffcc;
    margin-bottom: 50px;
}

.callback__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;

}

.callback__fieldset {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: none;
    padding: 0;
    max-width: 423px;
    height: 174px;
}

.input__label {
    display: none;
}

.form__input {
    width: 423px;
    height: 44px;
    border: 1.38px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: #ffffff;
    padding-left: 20px;
}

.form__input:hover,
.form__input:focus,
.form__input:active {
    border: 1.38px solid var(--main-color);
}

.form__input::placeholder {
    font-weight: 400;
    font-size: 22px;
    color: #ffffff80;
}

.callback__submit {
    align-content: center;
    width: 218px;
    height: 48px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    margin-bottom: 45px;
    transition-duration: 400ms;
    transition-property: background-color, color;
}

.callback__submit:hover,
.callback__submit:focus {
    color: var(--third-main-color);
    background-color: var(--second-main-color);
}

.callback__submit:active {
    color: var(--third-main-color);
    background-color: var(--second-main-color);
    font-weight: 600;
}

.callback__consent {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.callback__consent>a {
    text-decoration: underline;
    color: #4a76a8;
}

@media (max-width:1024px) {
    .callback__header {
        font-size: 32px;
    }

    .callback__text {
        font-size: 20px;
    }

    .form__input {
        width: 377px;
        height: 39px;
    }

    .form__input::placeholder {
        font-size: 20px;
    }

    .callback__consent {
        font-size: 17px;
    }
}


@media (max-width:480px) {
    .callback {
        background-position: center;
    }
    
    .callback__header {
        font-size: 20px;
    }

    .callback__text {
        font-size: 12px;
        margin-bottom: 35px;
    }

    .callback__fieldset {
        height: 114px;
    }

    .form__input {
        width: 290px;
        height: 28px;
    }

    .form__input::placeholder {
        font-size: 14px;
    }

    .callback__submit {
        width: 174px;
        height: 38px;
        font-size: 16px;
    }

    .callback__consent {
        font-size: 11px;
        max-width: 289px;
    }
}